//*-----------------------------------------
//* Main Color
//*-----------------------------------------
$primary_color: 					#009688;
$base_text_color: 					#212121;
$base_background_color: 			#E0F2F1;

//*-----------------------------------------
//* Base Color
//*-----------------------------------------
$header_background_color: 			#004D40;
$logo_text_color: 					#fff;
$menu_text_color: 					#E0F2F1;
$showcase_text_color: 				#E0F2F1;
$showcase_background_color: 		#00796B;
$top_text_color: 					#E0F2F1;
$top_background_color: 				#00695C;
$footer_text_color: 				#E0F2F1;
$footer_background_color: 			#004D40;
$featured_label_color: 				#F4C445;

//*-----------------------------------------
//* Font
//*-----------------------------------------
$base_font_family: 					"Open Sans", sans-serif;
$base_font_size: 					16px;
$base_line_height: 					1.6;